* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: rgb(71, 67, 67);
    color: #fff;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.grid__body {
    display: grid;

    /*упрощенная запись:
    grid-template: fit-content(300px) minmax(300px, 500px) auto / repeat(2, 50%);*/

    grid-template-columns: fit-content(300px) minmax(300px, 500px) auto;
    grid-template-rows: repeat(2, 50%);
    /*равносильно grid-template-rows: 50% 50%;*/
}

.grid__item {
    text-align: center;
    border: 2px dashed rgba(255,255,255,.2);
    padding: 30px;
    font-weight: 700;
    font-size: 20px;
}

h2 {
    margin-top: 55px;
    margin-bottom: 20px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "header header" "side content";
}

.grid-header, .grid-side, .grid-content {
    padding: 30px;
    border: 2px dashed rgba(255,255,255,.2);
    margin: 0 0 15px 0;
}

.grid-header {
    grid-area: header;
}

.grid-side {
    grid-area: side;
}

.grid-content {
    grid-area: content;
}